/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.calculator {
    background: #31363F;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    width: 350px;
}


#display {
    width: 100%;
    height: 70px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 2rem;
    text-align: right;
    background: #EEEEEE;
    color: #222831;
}

/* Buttons Container */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

/* Buttons */
button {
    height: 60px;
    border: none;
    border-radius: 10px;
    background: #76ABAE;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s ease;
}


button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* Click Effect */
button:active {
    transform: scale(0.95);
}


.operator {
    background: #FF9800;
}


.equal {
    background: #4CAF50;
}


.zero {
    grid-column: span 2;
}

/* Responsive */
@media (max-width: 400px) {

    .calculator {
        width: 95%;
        padding: 15px;
    }

    button {
        height: 55px;
        font-size: 1.1rem;
    }

    #display {
        height: 60px;
        font-size: 1.7rem;
    }

}